#main-headline {
      text-align:center;
	color:blue;
}

h2 {
      text-align: center;
      text-decoration: underline;
}

.place-description {
     color: olive;
     font-family:Verdana;
}

.top-favorite {
      font-style: italic;
      font-weight:bold;
      color:red;
}

.person-description {
      color:purple;
}

.important-point {
text-decoration:underline;}


.top-favorite{
        color:red;
        font-weight:bold;
        }
        
.emphasis {
		font-style:italic;
		}
